# Python Pandas For Your Grandpa

[Python Pandas For Your Grandpa](https://www.udemy.com/course/python-pandas-for-your-grandpa/)

### Series - Basic creation

In [8]:
import pandas as pd
x = pd.Series([5, 10, 15, 20, 25, 30])

# Access data type
print(x.dtype)

# Access numpy array
print(x.to_numpy())

print(x.head())
print(x.head(3))

print(x.tail())
print(x.tail(3))

# Create a series from a dictionary
data = { 'a': 0., 'b': 1., 'c': 2., 'd': 3.}
y = pd.Series(data)
print(y)

# Or strings
z = pd.Series(['a', 'b', 'c'])
print(z) # type is object


z2 = pd.Series(['a', 'b', 'c'], dtype= 'string')
print(z2) # type is string

int64
[ 5 10 15 20 25 30]
0     5
1    10
2    15
3    20
4    25
dtype: int64
0     5
1    10
2    15
dtype: int64
1    10
2    15
3    20
4    25
5    30
dtype: int64
3    20
4    25
5    30
dtype: int64
a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64
0    a
1    b
2    c
dtype: object
0    a
1    b
2    c
dtype: string

In [34]:
import pandas as pd
import numpy as np

x = np.array([10, 20, 30, 40])
y = pd.Series(x)

print(x)
print(y)

# Generate series
linspace = pd.Series( np.linspace(start = 1, stop = 2, num = 10) )
print(linspace)

# normal random values
normalrandom = pd.Series(np.random.normal(size = 1))
print(normalrandom)

# Index -> Access
print(y[0])
print(y[1])
print(y[2])
print(y[3])
print(y)
y.index = [3,1,2,0]
print(y[0])
print(y[1])
print(y[2])
print(y[3])
print(y)

# El acceso a indice fiable es iloc
print(y.iloc[0])
print(y.iloc[1])
print(y.iloc[2])
print(y.iloc[3])
print(y)

# Tambien funciona con números negativos
print(y.iloc[-1])
print(y.iloc[-2])
print(y.iloc[-3])
print(y.iloc[-4])
print(y)

# Y con slicing
print(y.iloc[1:4:2]) # From one (inclusive) to 4 exclusive, step by 2
print(y)

linspace2 = pd.Series( np.linspace(start = 1, stop = 2, num = 20) )
print(linspace2)
linspace3 = linspace2.iloc[1:14:3]
print(linspace3) # From one (inclusive) to 4 exclusive, step by 2
linspace3.index = ['a', 'b', 'c', 'd', 'e']
print(linspace3['a'])
print(linspace3['b'])
print(linspace3['c'])
print(linspace3['d'])
print(linspace3['e'])
print(linspace3)

print(linspace3[0]) # Pandas figures out that we want the element at position 0. This is confusing, avoid bracket notation, use loc and iloc (integer loc)

print(linspace3.loc['a'])
print(linspace3.iloc[0])
print(linspace3.loc['a':'c']) # todo entre la a y la c, ambos inclusive
print(linspace3.iloc[0:2]) # todo entre la a y la c, izq inclusive, derecha excluido

print(linspace3[['a','b','c','c','c','c']])

[10 20 30 40]
0    10
1    20
2    30
3    40
dtype: int64
0    1.000000
1    1.111111
2    1.222222
3    1.333333
4    1.444444
5    1.555556
6    1.666667
7    1.777778
8    1.888889
9    2.000000
dtype: float64
0   -1.216176
dtype: float64
10
20
30
40
0    10
1    20
2    30
3    40
dtype: int64
40
20
30
10
3    10
1    20
2    30
0    40
dtype: int64
10
20
30
40
3    10
1    20
2    30
0    40
dtype: int64
40
30
20
10
3    10
1    20
2    30
0    40
dtype: int64
1    20
0    40
dtype: int64
3    10
1    20
2    30
0    40
dtype: int64
0     1.000000
1     1.052632
2     1.105263
3     1.157895
4     1.210526
5     1.263158
6     1.315789
7     1.368421
8     1.421053
9     1.473684
10    1.526316
11    1.578947
12    1.631579
13    1.684211
14    1.736842
15    1.789474
16    1.842105
17    1.894737
18    1.947368
19    2.000000
dtype: float64
1     1.052632
4     1.210526
7     1.368421
10    1.526316
13    1.684211
dtype: float64
1.0526315789473684
1.2105263157894737
1.368421052631579
1.526315789473684
1.6842105263157894
a    1.052632
b    1.210526
c    1.368421
d    1.526316
e    1.684211
dtype: float64
1.0526315789473684
1.0526315789473684
1.0526315789473684
a    1.052632
b    1.210526
c    1.368421
dtype: float64
a    1.052632
b    1.210526
dtype: float64
a    1.052632
b    1.210526
c    1.368421
c    1.368421
c    1.368421
c    1.368421
dtype: float64

### Series - Basic indexing

In [50]:
import pandas as pd
import numpy as np

x = pd.Series(np.random.normal(size = 10**7)) # 10 million
print(x)
print(x.index)

# 10 million de nuevo.
# El index es de tipo Int64, consume más memoria pq almacena todos los valores del indice, mientras que el anterior solo almacena 3 valores, start, stop, step.
# El primero es más rápido en encontrar un valor dado su indice ex 56123 ya que es un RangeIndex y ese valor estará en la posición esperable
# En el segundo no hay garantia de que el valor 56123 esté en el lugar esperado dado el valor del indice ya que el indice puede estar ordenado de cualquier forma.
# Tampoco hay garantía de que el segundo no tenga duplicados.
y = pd.Series(np.random.normal(size = 10**7), index = np.arange(10**7))  
print(y)
print(y.index)

import sys
print(sys.getsizeof(x))
print(sys.getsizeof(y))


# Ejemplo con repetidos
alpha = pd.Series([2,3,5, 7, 11], index = [0,0,1,1,2])
print(alpha)
print(alpha[0])
print(alpha.loc[0])
print(alpha.iloc[0]) # Este sabe que queremos solo el indice

# Multi write
z = pd.Series([10, 20, 30, 40, 50], index = ['a','b','c','d','e'])
print(z)
print(z.iloc[1])
z.iloc[1] = 200
print(z.iloc[1])
z.iloc[[0,1,2]] = 99
print(z)
z.iloc[:3] = 999 # all but pos 3
print(z)

# Overwrite with new values, share some common index values
z.iloc[:] = np.array([5, 10, 20, 30, 40])

# 2 pandas, same indexes

za = pd.Series([10, 20, 30, 40])
zb = pd.Series([11, 22, 33, 44], index = [7, 3, 2, 0])
print(za)
print(zb)

# Pandas start searching zA for values with index 0, 1. 
# Looks for matching values in zB for overriding those, if not found, NaN. 
# Also cast everything to float to use nan.
za.loc[ [0,1] ] = zb
print(za)
print(zb)

za.loc[:2] = zb
print(za)

0          0.315902
1         -0.741025
2         -0.402146
3          0.705023
4         -0.745713
             ...
9999995   -1.515568
9999996   -0.194820
9999997   -0.418430
9999998    1.187149
9999999   -0.384134
Length: 10000000, dtype: float64
RangeIndex(start=0, stop=10000000, step=1)
0         -0.040394
1          0.351243
2          1.938916
3          0.204052
4          0.554490
             ...
9999995   -1.043537
9999996   -1.662961
9999997   -0.430374
9999998   -0.393118
9999999   -0.547665
Length: 10000000, dtype: float64
Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            9999990, 9999991, 9999992, 9999993, 9999994, 9999995, 9999996,
            9999997, 9999998, 9999999],
           dtype='int64', length=10000000)
80000144
160000016
0     2
0     3
1     5
1     7
2    11
dtype: int64
0    2
0    3
dtype: int64
0    2
0    3
dtype: int64
2
a    10
b    20
c    30
d    40
e    50
dtype: int64
20
200
a    99
b    99
c    99
d    40
e    50
dtype: int64
a    999
b    999
c    999
d     40
e     50
dtype: int64
0    10
1    20
2    30
3    40
dtype: int64
7    11
3    22
2    33
0    44
dtype: int64
0    44.0
1     NaN
2    30.0
3    40.0
dtype: float64
7    11
3    22
2    33
0    44
dtype: int64
0    44.0
1     NaN
2    33.0
3    40.0
dtype: float64

### Basic Operations

In [60]:
# Panda uses broadcasting
import pandas as pd
import numpy as np

x = pd.Series([1,2,3,4])
print(x)

x2 = x + 1 # Pandas uses broadcasting, it adds 1 to every element of the series
print(x2)

y = pd.Series(1)
xy = x + y # If you combine two series, pandas only combines elements with the same index. Index alignment.
print(xy)

A = pd.Series([10,20,30,40,50])
B = pd.Series([1,2,3,4,5])

print(A+B) # Adition happens element wise by index, not by position, if we reverse an index we can confirm it

AA = pd.Series([10,20,30,40,50], index = [4,3,2,1,0])
BB = pd.Series([1,2,3,4,5])
print(AA+BB)

# The same for every other basic math operation. For more complex operations we use numpy.

AABB = AA.to_numpy() + BB.to_numpy()
print(AABB)
print(pd.Series(AABB))

# We can mix numpy and series

print(A + B.to_numpy()) # A is keeping it indexes while B no

# We want to add Y to A on matching indexes without Nan on not founds
Y = pd.Series([10, 20], index = [2,1])

# Match only y indexes -> x.loc[y.index]
# Then add y, it will ignore unmatched indexes += Y
x.loc[Y.index] += Y 
print (x)

0    1
1    2
2    3
3    4
dtype: int64
0    2
1    3
2    4
3    5
dtype: int64
0    2.0
1    NaN
2    NaN
3    NaN
dtype: float64
0    11
1    22
2    33
3    44
4    55
dtype: int64
0    51
1    42
2    33
3    24
4    15
dtype: int64
[11 22 33 44 55]
0    11
1    22
2    33
3    44
4    55
dtype: int64
0    11
1    22
2    33
3    44
4    55
dtype: int64
0     1
1    22
2    13
3     4
dtype: int64

# Boolean indexing

In [71]:
import pandas as pd
import numpy as np

x = pd.Series([20,50,11,45,17,31])
print(x)

mask = x < 20
print(mask)

print(x.loc[mask]) # subset of x where mask is true

x.index = [0, 1, 2, 3, 5, 4]
print(x.loc[mask]) # It is affected by index changes
print(x.loc[mask.to_numpy()]) # It is NOT affected by index changes

# You can combine boolean filter with and &, or |
mask2 = (x > 5) & (x < 30)
print(mask2)
print(x.loc[mask2])

# We can negate masks
print(x.loc[~mask2])

0    20
1    50
2    11
3    45
4    17
5    31
dtype: int64
0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool
2    11
4    17
dtype: int64
2    11
4    31
dtype: int64
2    11
5    17
dtype: int64
0     True
1    False
2     True
3    False
5     True
4    False
dtype: bool
0    20
2    11
5    17
dtype: int64
1    50
3    45
4    31
dtype: int64

# Missing values

In [87]:
import pandas as pd
import numpy as np

roux = pd.Series([1, 2, 3]) # it is int
print(roux)

roux.iloc[1] = np.nan # Now it is float
print(roux)

# Podamos usar un nullable de pandas
roux = pd.Series([1, 2, 3], dtype = 'Int64') # it is Int64
roux.iloc[1] = np.nan # Keeps it, it is not casted
print(roux)

# We can also do
roux = pd.Series([1, 2, 3], dtype = 'Int64')
roux.iloc[1] = pd.NA 
print(roux)

# With strings
gumbo = pd.Series(['a', 'b', 'c'])
gumbo.iloc[1] = np.nan
gumbo.iloc[2] = None
print(gumbo) # It is a python list, a list of pointer to objects. Also distinct objects: (

gumbo = pd.Series(['a', 'b', 'c'], dtype='string') # Fixed with dtype string
gumbo.iloc[1] = np.nan
gumbo.iloc[2] = None
print(gumbo)

# Check for NA
maskNa = pd.isna(roux)
maskNotNa = pd.notna(roux)
print(maskNa)
print(maskNotNa)

y = roux.fillna(-2) # returns a modified copy, unless inplace = True
print(y)
# Or

roux.loc[maskNa] = -1
print(roux)

0    1
1    2
2    3
dtype: int64
0    1.0
1    NaN
2    3.0
dtype: float64
0       1
1    <NA>
2       3
dtype: Int64
0       1
1    <NA>
2       3
dtype: Int64
0       a
1     NaN
2    None
dtype: object
0       a
1    <NA>
2    <NA>
dtype: string
0    False
1     True
2    False
dtype: bool
0     True
1    False
2     True
dtype: bool
0     1
1    -2
2     3
dtype: Int64
0     1
1    -1
2     3
dtype: Int64

# Vectorization

In [92]:
import pandas as pd
import numpy as np

x = pd.Series( np.random.uniform(low = 1, high = 2, size = 10**6))
print(x)

# Python loops are slow, lets use vectorization. This is 1 million sets of instructions.
# x.mean is an allias of np.mean and only creates one instruction set per loop and run it for every item
# Also implemented on C, not python :D
avg = x.mean()
print(avg)

0         1.965819
1         1.544155
2         1.828034
3         1.339589
4         1.659836
            ...
999995    1.906603
999996    1.627976
999997    1.889446
999998    1.264758
999999    1.526216
Length: 1000000, dtype: float64
1.5000498861637026

# Use apply

In [99]:
foo = pd.Series([3, 9, 2, 2, 8, 7])

def my_fn(x):
    return x - 1 if x % 2 == 0 else x + 3

print(foo.apply(my_fn))

def my_fn2(x, a, b):
    return x - 1 if x % 2 == 0 else x + 3

print(foo.apply(my_fn2, a = 3, b = -4))

# This is slow :(, we can do this on numpy, faster
a = foo.to_numpy()
y = pd.Series(np.where(a %2 == 0, a-1, a+3)) # esto es un if inline funciona parece
print(y)

0     6
1    12
2     1
3     1
4     7
5    10
dtype: int64
0     6
1    12
2     1
3     1
4     7
5    10
dtype: int64
0     6
1    12
2     1
3     1
4     7
5    10
dtype: int64

# View vs Copy

In [114]:
import pandas as pd
import numpy as np

x = pd.Series([2, 3, 5, 7, 11], index = [2, 11, 12, 30, 30])
y = x
y.iloc[0] = 9 # Reference 
print(x)
print(y)

y = x.copy()
y.iloc[0] = 999
print(x)
print(y)

foo = pd.Series(['a', 'b', 'c', 'd'], dtype = 'string')
print(foo)

bar = foo.loc[foo <= 'b']  # does not affect foo
print(bar)
bar.iloc[0] = 'x'

print(foo)
print(bar)

bar = foo.iloc[:2] # does affect foo
print(bar)
bar.iloc[0] = 'x' 
print(foo)
print(bar)

# Using a = b.loc -> returns a copy. Otherwise it returns a view. This is undocumented :(. Use .copy to be safe

# Any pandas function that modifies a series, ex replace
xoo = pd.Series(['tiger', 'lion', 'zebra', 'lion'])
print(xoo)
xoo2  = xoo.replace({'lion': 'cat', 'tiger': 'fast cat'}) # returns a changed copy unless you do xoo = xoo.replace ... or inplace = True
print(xoo)
print(xoo2)

2      9
11     3
12     5
30     7
30    11
dtype: int64
2      9
11     3
12     5
30     7
30    11
dtype: int64
2      9
11     3
12     5
30     7
30    11
dtype: int64
2     999
11      3
12      5
30      7
30     11
dtype: int64
0    a
1    b
2    c
3    d
dtype: string
0    a
1    b
dtype: string
0    a
1    b
2    c
3    d
dtype: string
0    x
1    b
dtype: string
0    a
1    b
dtype: string
0    x
1    b
2    c
3    d
dtype: string
0    x
1    b
dtype: string
0    tiger
1     lion
2    zebra
3     lion
dtype: object
0    tiger
1     lion
2    zebra
3     lion
dtype: object
0    fast cat
1         cat
2       zebra
3         cat
dtype: object

# Other

In [117]:
import pandas as pd
import numpy as np

x = pd.Series(['a', 'b', 'c', 'a', 'a', 'a'])

count = x.value_counts()
print(count)
print(count.loc[['b', 'c']])

# Cuando quieres los valores para buscarlos como posiciones tienes que hacer .to_numpy para pillar el valor y no el indice de pandas

# Se puede usar .shilft(periods = 1) para añadir un elemento al inicio. Se carga el ultimo elemento ojo

# Se puede usar .sample con frac = 1, random_state=algunnumero para randomizar.

# Se puede pasar una series a array con [series_x] y concatenarla con [series_x]*5 y dejarlo plano con pd.concat([series_x]*5)

a    4
b    1
c    1
dtype: int64
b    1
c    1
dtype: int64

In [ ]:
# DataFrame Creation

In [9]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'name': ['Bob', 'Sue', 'Mary'], 'age': [39, 57, 28]})
print(df)

# Dataframe have a column index to select and subset columns

df2 = pd.DataFrame([
    ['Bob', 39],
    ['Sue', 57],
    ['Mary', 28]
])
print(df2)

print(df.info())
print(df2.info())
print(df.shape)
print(df.axes)
print(df.size)
df.rename( columns = {'age': 'years'}, inplace=True)
print(df)
print(df.info())

   name  age
0   Bob   39
1   Sue   57
2  Mary   28
      0   1
0   Bob  39
1   Sue  57
2  Mary  28
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None
(3, 2)
[RangeIndex(start=0, stop=3, step=1), Index(['name', 'age'], dtype='object')]
6
   name  years
0   Bob     39
1   Sue     57
2  Mary     28
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   years   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None

# To and from CSV

In [12]:
import pandas as pd
import numpy as np
import os

df = pd.DataFrame({
    'id': np.arange(1000),
    'b': np.random.normal(size = 1000),
    'c': pd.Series(np.random.choice(['cat', 'doc', 'hippo'], size = 1000, replace = True))
})
print(df)

print(os.getcwd())

print(os.listdir())

# WRITE
# df.to_csv('pets.csv', index = False)
pets = pd.read_csv('pets.csv')
print(pets)

# Useful header, indexcol, usecols

      id         b      c
0      0  1.194432    doc
1      1 -1.336831    cat
2      2  1.904734    doc
3      3 -0.440083    doc
4      4  0.662795    cat
..   ...       ...    ...
995  995  0.341173  hippo
996  996  0.455615    doc
997  997 -1.837615  hippo
998  998 -0.751639    cat
999  999  0.017252    doc

[1000 rows x 3 columns]
/mnt/c/_repos/_Python/dllas-evaluator
['.git', '.gitignore', '.gitmodules', '.idea', '.vscode', '2022', 'data', 'dllas-evaluator.code-workspace', 'FillMask.py', 'FillMaskTrabajo.py', 'main.py', 'mainBase.py', 'mainProfesiones.py', 'pandas.ipynb', 'requirements.txt', 'result', 'result_data', 'result_fillmask', 'result_fillmask_profesiones', 'run_auto.py', 'save.bat', 'source', 'src', 'tests']

# Basic Indexing

In [15]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'shrimp': [10, 20, 30, 40, 50, 60],
    'crab': [5, 10, 15, 20, 25, 30],
    'red fish': [2, 3, 5, 7, 11, 13]
})

print(df.shrimp)
print(df['shrimp'])
print(df['red fish'])
print(df[['shrimp', 'red fish']])
print(df.iloc[[0, 2, 4]])
print(df.iloc[0:5:2])
print(df.iloc[1])
print(df.iloc[[1]])
# Give me every row but only cols 0, 1
print(df.iloc[:, [0, 1]])

# Give me rows 0, 2 with cols 1,2
print(df.iloc[[0,2],[1,2]])

df.index = ['a', 'b', 'c', 'd', 'e', 'f']

print(df.loc[['b', 'c']])

print(df.loc[['a', 'c', 'c'], ['crab', 'shrimp']])
print(df.loc['b':'e', ['crab']])

print(df.iloc[:3, [0, 2]])

mask = (df.shrimp < 40) & (df.crab % 10 ==0)
print(df.loc[mask])

0    10
1    20
2    30
3    40
4    50
5    60
Name: shrimp, dtype: int64
0    10
1    20
2    30
3    40
4    50
5    60
Name: shrimp, dtype: int64
0     2
1     3
2     5
3     7
4    11
5    13
Name: red fish, dtype: int64
   shrimp  red fish
0      10         2
1      20         3
2      30         5
3      40         7
4      50        11
5      60        13
   shrimp  crab  red fish
0      10     5         2
2      30    15         5
4      50    25        11
   shrimp  crab  red fish
0      10     5         2
2      30    15         5
4      50    25        11
shrimp      20
crab        10
red fish     3
Name: 1, dtype: int64
   shrimp  crab  red fish
1      20    10         3
   shrimp  crab
0      10     5
1      20    10
2      30    15
3      40    20
4      50    25
5      60    30
   crab  red fish
0     5         2
2    15         5
   shrimp  crab  red fish
b      20    10         3
c      30    15         5
   crab  shrimp
a     5      10
c    15      30
c    15      30
   crab
b    10
c    15
d    20
e    25
   shrimp  red fish
a      10         2
b      20         3
c      30         5
   shrimp  crab  red fish
b      20    10         3

# Basic operations

In [24]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'a': [2, 3, 11, 13],
    'b': ['fox', 'rabbit', 'hound', 'rabbit']
})

print(df)
df['c'] = [1, 0, 1, 2]
print(df)
df.d = 1
print(df)
df['d'] = 1
print(df)


df['e'] = df['a'] + df['c']
print(df) 

# Update df to add a column named f where b is rabbit
df.loc[df.b == 'rabbit', 'f'] = 0
print(df)

df.drop(columns=['a', 'c'], inplace=True)
print(df)

    a       b
0   2     fox
1   3  rabbit
2  11   hound
3  13  rabbit
    a       b  c
0   2     fox  1
1   3  rabbit  0
2  11   hound  1
3  13  rabbit  2
    a       b  c
0   2     fox  1
1   3  rabbit  0
2  11   hound  1
3  13  rabbit  2
    a       b  c  d
0   2     fox  1  1
1   3  rabbit  0  1
2  11   hound  1  1
3  13  rabbit  2  1
    a       b  c  d   e
0   2     fox  1  1   3
1   3  rabbit  0  1   3
2  11   hound  1  1  12
3  13  rabbit  2  1  15
    a       b  c  d   e    f
0   2     fox  1  1   3  NaN
1   3  rabbit  0  1   3  0.0
2  11   hound  1  1  12  NaN
3  13  rabbit  2  1  15  0.0
        b  d   e    f
0     fox  1   3  NaN
1  rabbit  1   3  0.0
2   hound  1  12  NaN
3  rabbit  1  15  0.0

# Apply

In [32]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [5.2, 1.7, 9.4],
    'B': [3.9, 4.0, 7.8]
})

print(df)
# Args -> func (fn)
# Axis -> Axis 0 row, or axis 1 column.

print(df.apply(func = np.sum, axis = 1))
print(df.apply(func = np.sum, axis = 0))

kids = pd.DataFrame({
    'name': pd.Series(['alice', 'mary', 'jimmy', 'johny', 'susan'], dtype='string'),
    'age': [9, 13, 11, 15, 8],
    'with_adult': [True, False, False, True, True]
})
print(kids)

# At least 12 or have aduct suppervision
def is_allowed(kids_series):
    return kids_series.loc['age'] >= 12 or kids_series.loc['with_adult']

print(kids.apply(is_allowed, axis = 1))

def is_allowed_clean(age, with_adult):
    return age >= 12 or with_adult

print(kids.apply(lambda row: is_allowed_clean(row.loc['age'], row.loc['with_adult']), axis = 1))

     A    B
0  5.2  3.9
1  1.7  4.0
2  9.4  7.8
0     9.1
1     5.7
2    17.2
dtype: float64
A    16.3
B    15.7
dtype: float64
    name  age  with_adult
0  alice    9        True
1   mary   13       False
2  jimmy   11       False
3  johny   15        True
4  susan    8        True
0     True
1     True
2    False
3     True
4     True
dtype: bool
0     True
1     True
2    False
3     True
4     True
dtype: bool

# View vs Copy

In [40]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'x': [1,2,3],
    'y': [10, 20, 30]
})
print(df)

v1 = df['x'] # ref
v1.iloc[0] = 999
print(df)
print(v1)

v2 = df['y'] + 1 # copy
v2.iloc[0] = 0
print(v2)

v1 = df.iloc[[0,1]]
v2 = df.iloc[:2]

v1[1] = 111 
v2[1] = 222 
v3 = df.iloc[:2].copy()

v2[1] = 333
print(v3)
print(v3)
print(v3)

   x   y
0  1  10
1  2  20
2  3  30
     x   y
0  999  10
1    2  20
2    3  30
0    999
1      2
2      3
Name: x, dtype: int64
0     0
1    21
2    31
Name: y, dtype: int64
     x   y
0  999  10
1    2  20
     x   y
0  999  10
1    2  20
     x   y
0  999  10
1    2  20

/tmp/ipykernel_671/1457860322.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  v1[1] = 111
/tmp/ipykernel_671/1457860322.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  v2[1] = 222
/tmp/ipykernel_671/1457860322.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  v2[1] = 333

# Merge

In [43]:
import pandas as pd
import numpy as np

# https://www.practiceprobs.com/problemsets/python-pandas/dataframe/#merging-dataframes
pets = pd.DataFrame(
    data={
        'name': ['Mr. Snuggles', 'Honey Chew Chew', 'Professor', 'Chairman Meow', 'Neighbelline'],
        'type': ['cat', 'dog', 'dog', 'cat', 'horse']
    },
    index=[71, 42, 11, 98, 42]
)

visits = pd.DataFrame(
    data={
        'pet_id': [42, 31, 71, 42, 98, 42],
        'date': ['2019-03-15', '2019-03-15', '2019-04-05', '2019-04-06', '2019-04-12', '2019-04-12']
    }
)

print(pets)
#                name   type
# 71     Mr. Snuggles    cat
# 42  Honey Chew Chew    dog
# 11        Professor    dog
# 98    Chairman Meow    cat
# 42     Neighbelline  horse

print(visits)
#    pet_id        date
# 0      42  2019-03-15
# 1      31  2019-03-15
# 2      71  2019-04-05
# 3      42  2019-04-06
# 4      98  2019-04-12
# 5      42  2019-04-12

# inner join between pets and visits based on pet_id
pd.merge(
    left=pets, 
    right=visits, 
    how='inner', 
    left_index=True, 
    right_on='pet_id'
)
#               name   type  pet_id        date
# 2     Mr. Snuggles    cat      71  2019-04-05
# 0  Honey Chew Chew    dog      42  2019-03-15
# 3  Honey Chew Chew    dog      42  2019-04-06
# 5  Honey Chew Chew    dog      42  2019-04-12
# 0     Neighbelline  horse      42  2019-03-15
# 3     Neighbelline  horse      42  2019-04-06
# 5     Neighbelline  horse      42  2019-04-12
# 4    Chairman Meow    cat      98  2019-04-12
# 

pets.index.rename('pet_id', inplace=True)

print(pets)
#                    name   type
# pet_id                        
# 71         Mr. Snuggles    cat
# 42      Honey Chew Chew    dog
# 11            Professor    dog
# 98        Chairman Meow    cat
# 42         Neighbelline  horse

visits.index.rename('visit_id', inplace=True)

print(visits)
#           pet_id        date
# visit_id                    
# 0             42  2019-03-15
# 1             31  2019-03-15
# 2             71  2019-04-05
# 3             42  2019-04-06
# 4             98  2019-04-12
# 5             42  2019-04-12

pd.merge(left=pets, right=visits, how='inner', on='pet_id')
#    pet_id             name   type        date
# 0      71     Mr. Snuggles    cat  2019-04-05
# 1      42  Honey Chew Chew    dog  2019-03-15
# 2      42  Honey Chew Chew    dog  2019-04-06
# 3      42  Honey Chew Chew    dog  2019-04-12
# 4      42     Neighbelline  horse  2019-03-15
# 5      42     Neighbelline  horse  2019-04-06
# 6      42     Neighbelline  horse  2019-04-12
# 7      98    Chairman Meow    cat  2019-04-12

pd.merge(left=pets, right=visits, how='left', on='pet_id')
#    pet_id             name   type        date
# 0      71     Mr. Snuggles    cat  2019-04-05
# 1      42  Honey Chew Chew    dog  2019-03-15
# 2      42  Honey Chew Chew    dog  2019-04-06
# 3      42  Honey Chew Chew    dog  2019-04-12
# 4      11        Professor    dog         NaN
# 5      98    Chairman Meow    cat  2019-04-12
# 6      42     Neighbelline  horse  2019-03-15
# 7      42     Neighbelline  horse  2019-04-06
# 8      42     Neighbelline  horse  2019-04-12

pd.merge(left=pets, right=visits, how='right', on='pet_id')
#    pet_id             name   type        date
# 0      42  Honey Chew Chew    dog  2019-03-15
# 1      42     Neighbelline  horse  2019-03-15
# 2      31              NaN    NaN  2019-03-15
# 3      71     Mr. Snuggles    cat  2019-04-05
# 4      42  Honey Chew Chew    dog  2019-04-06
# 5      42     Neighbelline  horse  2019-04-06
# 6      98    Chairman Meow    cat  2019-04-12
# 7      42  Honey Chew Chew    dog  2019-04-12
# 8      42     Neighbelline  horse  2019-04-12

               name   type
71     Mr. Snuggles    cat
42  Honey Chew Chew    dog
11        Professor    dog
98    Chairman Meow    cat
42     Neighbelline  horse
   pet_id        date
0      42  2019-03-15
1      31  2019-03-15
2      71  2019-04-05
3      42  2019-04-06
4      98  2019-04-12
5      42  2019-04-12
                   name   type
pet_id
71         Mr. Snuggles    cat
42      Honey Chew Chew    dog
11            Professor    dog
98        Chairman Meow    cat
42         Neighbelline  horse
          pet_id        date
visit_id
0             42  2019-03-15
1             31  2019-03-15
2             71  2019-04-05
3             42  2019-04-06
4             98  2019-04-12
5             42  2019-04-12

   pet_id             name   type        date
0      71     Mr. Snuggles    cat  2019-04-05
1      42  Honey Chew Chew    dog  2019-03-15
2      42  Honey Chew Chew    dog  2019-04-06
3      42  Honey Chew Chew    dog  2019-04-12
4      11        Professor    dog         NaN
5      98    Chairman Meow    cat  2019-04-12
6      42     Neighbelline  horse  2019-03-15
7      42     Neighbelline  horse  2019-04-06
8      42     Neighbelline  horse  2019-04-12

In [11]:
import pandas as pd
import numpy as np

# Pandas aggregation
df = pd.DataFrame({
    'x': [3.1, 5.5, 9.2, 1.7, 1.2, 8.3, 2.6],
    'y': [1.4, np.nan, 5.0, 5.8, 9.0, np.nan, 9.2]
})

# First, look for a dataframe method called sum
# else if, looks into numpy
# else error

print(df.agg('sum')) # series
print(df.agg(np.sum))
print(df.agg(['sum'])) # dataframe
print(df.agg(['sum', 'mean']))
print(df.agg({'x': ['sum', 'mean'], 'y': ['min', 'max'] }))

print(df.agg('min')) # Aggregates the rows
print(df.agg('min', axis=1)) # Aggregates the columns, gets a value per row

def nth_value(x, n):
    return x.iloc[n]

print(df.agg(nth_value, n = 3))
print( df.agg(func = lambda x, n : x.iloc[n], n = 3 ))
print( df.agg(lambda x, n : x.iloc[n], n = 3 ))

x    31.6
y    30.4
dtype: float64
x    31.6
y    30.4
dtype: float64
        x     y
sum  31.6  30.4
              x      y
sum   31.600000  30.40
mean   4.514286   6.08
              x    y
sum   31.600000  NaN
mean   4.514286  NaN
min         NaN  1.4
max         NaN  9.2
x    1.2
y    1.4
dtype: float64
0    1.4
1    5.5
2    5.0
3    1.7
4    1.2
5    8.3
6    2.6
dtype: float64
x    1.7
y    5.8
dtype: float64
x    1.7
y    5.8
dtype: float64
x    1.7
y    5.8
dtype: float64

# Groupby

In [38]:
df = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar', 'bar', 'foo', 'foo'],
    'B': [False, True, False, True, True, True, True],
    'C': [2.1, 1.9, 3.6, 4.0, 1.9, 7.8, 2.8],
    'D': [50, np.nan, 30, 90, 10, np.nan, 10]
}).convert_dtypes()  

print(df)

x = df.groupby( by = 'A' ) # Partition by diff values on A
print(x)


x = df.groupby( by = ['A', 'B'] ) # Partition by diff values on A,B
print(x.groups)
print(x.ngroup())

# Creamos un valor calculado, mantiene el indicie y el número de valores
wholes = df.C.apply(np.floor)
print(wholes)
# Agrupamos por el valor calculado, lo hace gracias al indice
by_wholes = df.groupby(wholes)
print(by_wholes.groups)

y = df.groupby('A')['C'].sum()
# y = df.groupby('A') <- Dataframe groupby object 
# y = df.groupby('A')['C'] <- Isolate column C on the grouping
# y = df.groupby('A')['C'].sum() -> Sum of C by groups (series)
print(y)

# Pandas a series of series, allow to grab value by col key
y = df.groupby('A')[['C']].sum()
print(y)

y = df.groupby('A')[['C', 'D']].sum()
print(y)

y = df.groupby('A')[['C', 'D']].agg('sum')
print(y)

y = df.groupby('A')[['C', 'D']].agg({'C': np.sum, 'D': ['mean', 'var']})
print(y)

y = df.groupby(['A', 'B'])[['D']].mean()
print(y)

y = df.groupby(by=['B', 'D'], dropna=False).agg({'C':['min', 'max']})
print(y)

y = df.groupby(by=['B', 'D'], dropna=False).agg(
    C_min=('C', 'min'),
    C_max=('C', np.max)
)
print(y)

y = df.groupby('A')['C'].transform(lambda x: x.sort_values())
y = df.groupby('A')['C'].transform(lambda x: pd.Series.sort_values)
print(y)

df['C_sorted_within_A'] = df.groupby('A')['C'].transform(pd.Series.sort_values)
print(df)

df.groupby('A')[['C', 'D']].transform('mean')

     A      B    C     D
0  foo  False  2.1    50
1  bar   True  1.9  <NA>
2  foo  False  3.6    30
3  bar   True  4.0    90
4  bar   True  1.9    10
5  foo   True  7.8  <NA>
6  foo   True  2.8    10
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f7fc6f54910>
{('bar', True): [1, 3, 4], ('foo', False): [0, 2], ('foo', True): [5, 6]}
0    1
1    0
2    1
3    0
4    0
5    2
6    2
dtype: int64
0    2.0
1    1.0
2    3.0
3    4.0
4    1.0
5    7.0
6    2.0
Name: C, dtype: Float64
{1.0: [1, 4], 2.0: [0, 6], 3.0: [2], 4.0: [3], 7.0: [5]}
A
bar     7.8
foo    16.3
Name: C, dtype: Float64
        C
A
bar   7.8
foo  16.3
        C    D
A
bar   7.8  100
foo  16.3   90
        C    D
A
bar   7.8  100
foo  16.3   90
        C     D
      sum  mean     var
A
bar   7.8  50.0  3200.0
foo  16.3  30.0   400.0
              D
A   B
bar True   50.0
foo False  40.0
    True   10.0
              C
            min  max
B     D
False 30    3.6  3.6
      50    2.1  2.1
True  10    1.9  2.8
      90    4.0  4.0
      <NA>  1.9  7.8
            C_min  C_max
B     D
False 30      3.6    3.6
      50      2.1    2.1
True  10      1.9    2.8
      90      4.0    4.0
      <NA>    1.9    7.8
0    <function Series.sort_values at 0x7f7fa3ffc0d0>
1    <function Series.sort_values at 0x7f7fa3ffc0d0>
2    <function Series.sort_values at 0x7f7fa3ffc0d0>
3    <function Series.sort_values at 0x7f7fa3ffc0d0>
4    <function Series.sort_values at 0x7f7fa3ffc0d0>
5    <function Series.sort_values at 0x7f7fa3ffc0d0>
6    <function Series.sort_values at 0x7f7fa3ffc0d0>
Name: C, dtype: object
     A      B    C     D  C_sorted_within_A
0  foo  False  2.1    50                2.1
1  bar   True  1.9  <NA>                1.9
2  foo  False  3.6    30                3.6
3  bar   True  4.0    90                4.0
4  bar   True  1.9    10                1.9
5  foo   True  7.8  <NA>                7.8
6  foo   True  2.8    10                2.8

       C     D
0  4.075  30.0
1    2.6  50.0
2  4.075  30.0
3    2.6  50.0
4    2.6  50.0
5  4.075  30.0
6  4.075  30.0

# Extra

In [ ]:
df.applymap(set) # -> Tranforma todos los elementos a sets, se aplica sobre cada elemento del df
df.diff(axis = 1, period = 1) # Calculate diff between elements in each row for each element in the row substracting the element one position behind it.